/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    display: block; /* Para aplicar márgenes automáticos en bloque */
    width: 250px; /* Tamaño deseado */
    height: 250px; /* Mantener la proporción */
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover; /* Recorta la imagen para que llene el espacio sin deformarse */
    margin: 0 auto; /* Centra la imagen */
    box-shadow: 0px 5px 10px 0px rgba(52, 52, 52, 0.8); /* Borde con blur de 5px */
}

.section-main {
    width: 65%;
    margin: auto;
}

/* Sections - General */
.sections{
    width: 65%;
    margin: auto;
    margin-top: 8rem;
}

.tool-section {
    width: 80%;
    margin: auto;
    margin-top: 8rem;
}


/* Section Main */
/* Name */
.name {
    margin: 3rem 0 3rem 0;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

.profession {
    color: white;
    font-size: 5rem;
}

.experience-section {
    margin: 1rem 0 5rem 0;
}

.experience-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;

    gap: 4rem;
}

.experience-design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.years-experience {
    color: white;
    font-size: 3rem;
}

.description-work {
    color: rgb(180, 180, 180);
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
    /* margin: .5rem 0 .5rem 0; */
    font-weight: bold;
}

/* Works - Tittle */
.container-design-title {
    margin-bottom: 2rem;
}

/* Works - Description */
.container-design-content {
    background: rgb(30, 30, 30);
    padding: 20px;
    margin-bottom: 80px;
    border-radius: 25px;
}


/* Inicio de Menú */

/* Contenedor de cinta */
.container-maintained {
    display: flex;
    width: auto;
    background-color: gray;
    justify-content: center;
    background: transparent;
}

/* Cinta */
.options {
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 40px 0 60px 0;
    border-radius: 18px;
    gap: 40px;
}

/* Centrado de los iconos en el nav -> container-icon */
.frame-icon {
    display: flex;
}


/* Fin de menu */



/* Works - Description */

.title-work {
    color: white;
}

/* Subtitle main - h2 */
.subtitle-main {
    font-size: 2.2rem;
    color: white;
}

.subtitle {
    display: flex;
    font-size: 2.2rem;
    color: white;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

/* Label - a */
.paragraph {
    text-align: justify;
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1rem;
    line-height: 1.9;
    color: white;
}

.paragraph-date {
    text-align: right;
    font-size: 0.9rem;
    color: gray;
}

/* Subtitles component */
.subtitles-component {
    font-size: 2.2rem;
    color: white;
    text-align: center;
}

/* Label - span */
.subtitles-component-span, .profession-1 {
    color: rgb(120, 120, 120);
}

.subtitles-component-intermediate {
    color: rgb(175, 175, 175);
}


/* Tools */

.container-tool {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(16, 1fr);

    margin: auto;
    margin-top: 3rem;
}

/* Data Base - Grid */
.grid-db {
    grid-column: 3 / 7;
    grid-row: 2 / 6;

    background: white;
    padding: 10px;
    border-radius: 12px;
}

/* HTML - Grid */
.grid-html {
    grid-column: 9 / 13;
    grid-row: 1 / 5;

    background: white;
    padding: 10px;
    border-radius: 12px;
}

/* CSS - Grid */
.grid-css {
    grid-column: 15 / 19;
    grid-row: 2 / 6;

    background: white;
    border-radius: 12px;
    padding: 10px;
}

/* JS - Grid */
.grid-js {
    grid-column: 1 / 5;
    grid-row: 7 / 11;

    background: white;
    border-radius: 12px;
    padding: 10px;
}

/* GitHub - Grid */
.grid-github {
    grid-column: 9 / 13;
    grid-row: 7 / 11;

    background: white;
    border-radius: 12px;
    padding: 10px;
}

/* Figma - Grid */
.grid-figma {
    grid-column: 17 / 21;
    grid-row: 7 / 11;

    background: white;
    border-radius: 12px;
    padding: 10px;
}

/* Docker - Grid */
.grid-docker {
    grid-column: 3 / 7;
    grid-row: 12 / 16;

    background: white;
    border-radius: 12px;
    padding: 10px;
}

/* OS - Grid */
.grid-os {
    grid-column: 9 / 13;
    grid-row: 13 / 17;

    background: white;
    border-radius: 12px;
    padding: 10px;
}

/* Virtual Machines -  */
.grid-vm {
    grid-column: 15 / 19;
    grid-row: 12 / 16;

    background: white;
    border-radius: 12px;
    padding: 10px;
}

.lbl-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.frame-tool {
    display: flex;

    justify-content: center;
    align-items: center;
}

.grid-db, .grid-html, .grid-css, .grid-js , .grid-github, .grid-figma, .grid-docker, .grid-os, .grid-vm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 95%;
    border: 1px solid #000;

}

/* Size Image */
.img-size {
    max-width: 100%; /* La imagen no puede ser más ancha que el contenedor */
    max-height: 100%; /* La imagen no puede ser más alta que el contenedor */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin recortarla */
}

/* Contact */

.lbl-form {
    font-size: 1rem;
    color: white;
}

.container-form {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 80px 20px 15em 20px 40px;

    margin: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.grid-name {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.input-name {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgb(50, 50, 50);
    color: white;

    width: 100%;
}

.grid-email {
    grid-column: 6 / 10;
    grid-row: 1 / 2;
}

.input-email {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    color: white;

    width: 100%;
}

.grid-message {
    grid-column: 1 / 10;
    grid-row: 3 / 4;
}

.txtarea-message {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    color: white;

    width: 100%;
    resize: none;
}

.grid-btn {
    grid-column: 4 / 7;
    grid-row: 5 / 6;
}

.btn-form {
    margin: 4px auto;
    padding: 8px;
    border: none;
    border-radius: 15px;
    background-color: rgb(70, 70, 70);
    color: white;

    width: 100%;
    cursor: pointer;

    transition: background-color 0.3s ease; 
}

.btn-form:hover {
    background-color: rgb(100, 100, 100);
}

/* Comprobación o Error de envió de correo */

.successMessage {
    color: #b1ff4a;
    display: none;

    text-align: center;
    position: fixed; /* Fijado en la pantalla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el div en la pantalla */
    background: rgb(60, 60, 60); /* Fondo oscuro semi-transparente */
    padding: 1rem 2rem;
    border-radius: 8px;
    width: auto;
    text-shadow: 2px 2px 1px rgb(0, 0, 0); /* Sombra */

    margin-top: 1.5rem;
    font-size: 1rem;
}

.errorMessage {
    color: #fc5050;
    display: none;

    text-align: center;
    position: fixed; /* Fijado en la pantalla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el div en la pantalla */
    background: rgb(60, 60, 60); /* Fondo oscuro semi-transparente */
    padding: 1rem 2rem;
    border-radius: 8px;
    width: auto;
    text-shadow: 2px 2px 1px rgb(0, 0, 0); /* Sombra */

    margin-top: 1.5rem;
    font-size: 1rem;
}

/* Laptop */
@media (width <= 1024px) {

    .name {
        margin: 3rem 0 3rem 0;
    }

    /* Sections */
    .sections, .section-main {
        width: 75%;
    }

    .lbl-text {
        margin-top: 10px;
        margin-bottom: 10px;
    
        font-size: 1.1rem;
        color: black;
    }

}

/* Tablet */
@media (width <= 768px) {

    .name {
        margin: 3rem 0 3rem 0;
    }

    .description-work {
        font-size: 1.2rem;
    }

    .profession {
        font-size: 4rem;
    }

    .years-experience {
        font-size: 3rem;
    }
    
    /* Sections */
    .sections, .section-main {
        width: 85%;
    }

    .tool-section {
        width: 95%;
    }

    .img-size {
        height: 90px;
    }
    

}

/* Mobile M, L */
@media (width <= 425px) {

    .btn-form {
        display: flex;
        justify-content: center;
        width: 60%;
    }

    .container-form {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
    
    .experience-container {
        gap: 2.3rem;  
    }

    .description-work {
        font-size: 1.2rem;
    }

    .profession {
        font-size: 3.5rem;
    }

    .years-experience {
        font-size: 2.5rem;
    }

    .grid-name, .grid-email, .grid-message {
        margin-bottom: 1rem;
    }

    .name {
        font-size: 2.2rem;
        margin-bottom: 4rem;
    }

    .title-work {
        text-align: center;
    }

    /* Sections */

    .tool-section {
        width: 60%;
    }

    .sections, .section-main {
        width: 95%;
    }

    .paragraph {
        margin-top: 1.5rem;
        font-size: 0.9rem;
    }

    main {
        margin: 0 1.5rem 4.5rem 1.5rem;
    }

    /* Contact */
    .input-name, .input-email, .txtarea-message {
        font-size: 0.9rem;
    }

    .container-tool {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        justify-content: space-between;
        align-items: center;
    }

    .container-design-content {
        margin-bottom: 40px;
    }
    
}

/* Mobile S */
@media (width <= 320px) {

    .input-name, .input-email {
        font-size: 0.9rem;
    }

    .txtarea-message {
        font-size: 0.9rem;

        height: 170px;
    }

    .experience-container {
        gap: 2rem;  
    }

    .description-work {
        font-size: .9rem;
    }

    .profession {
        font-size: 3rem;
    }

    .years-experience {
        font-size: 2rem;
    }

}