/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    margin: 0 3rem 4.5rem 3rem;
}

.profile-picture {
    display: block; /* Para aplicar márgenes automáticos en bloque */
    width: 250px; /* Tamaño deseado */
    height: 250px; /* Mantener la proporción */
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover; /* Recorta la imagen para que llene el espacio sin deformarse */
    margin: 0 auto; /* Centra la imagen */
    box-shadow: 0px 5px 10px 0px rgba(52, 52, 52, 0.8); /* Borde con blur de 5px */
}

.section-main {
    margin-top: 5rem;
    width: 65%;
    margin: auto;
}

/* Sections - General */
.sections{
    width: 65%;
    margin: auto;
    margin-top: 8rem;
}


/* Section Main */
/* Name */
.name {
    margin: 3rem 0 10rem 0;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}


/* Works - Tittle */
.container-design-title {
    margin-bottom: 2rem;
    border-radius: 20px;
}

/* Works - Description */
.container-design-content {
    background: rgb(30, 30, 30);
    padding: 20px;
    margin-bottom: 80px;
    border-radius: 25px;
}


/* Inicio de Menú */

/* Contenedor de cinta */
.container-maintained {
    display: flex;
    width: auto;
    background-color: gray;
    justify-content: center;
    background: transparent;
}

/* Cinta */
.options {
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 35px 0 60px 0;
    border-radius: 18px;
    gap: 40px;
}

/* Centrado de los iconos en el nav -> container-icon */
.frame-icon {
    display: flex;
}


/* Fin de menu */



/* Works - Description */

.title-work {
    color: white;
}

/* Subtitle main - h2 */
.subtitle-main {
    font-size: 2.2rem;
    color: white;
}

.subtitle {
    font-size: 2.2rem;
    color: white;
    text-align: center;
}

/* Label - a */
.paragraph {
    text-align: justify;
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1rem;
    line-height: 1.9;
    color: white;
}

.paragraph-date {
    text-align: right;
    font-size: 0.9rem;
    color: gray;
}

/* Subtitles component */
.subtitles-component {
    font-size: 2.2rem;
    color: white;
    text-align: center;
}

/* Label - span */
.subtitles-component-span {
    color: rgb(120, 120, 120);
}


/* Contact */

.lbl-form {
    font-size: 1rem;
    color: white;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 80px 20px 15em 40px 10px;

    margin: auto;
    margin-top: 3rem;
}

.grid-name {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.input-name {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgb(50, 50, 50);
    color: white;

    width: 100%;
}

.grid-email {
    grid-column: 6 / 10;
    grid-row: 1 / 2;
}

.input-email {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    color: white;

    width: 100%;
}

.grid-message {
    grid-column: 1 / 10;
    grid-row: 3 / 4;
}

.txtarea-message {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    color: white;

    width: 100%;
    resize: none;
}

.grid-btn {
    grid-column: 4 / 7;
    grid-row: 4 / 5;
}

.btn-form {
    margin: 5px auto;
    padding: 8px;
    border: none;
    border-radius: 15px;
    background-color: rgb(70, 70, 70);
    color: white;

    width: 100%;
    cursor: pointer;

    transition: background-color 0.3s ease; 
}

.btn-form:hover {
    background-color: rgb(100, 100, 100);
}

/* Comprobación o Error de envió de correo */

.successMessage {
    color: #b1ff4a;
    display: none;

    text-align: center;
    position: fixed; /* Fijado en la pantalla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el div en la pantalla */
    background: rgb(60, 60, 60); /* Fondo oscuro semi-transparente */
    padding: 1rem 2rem;
    border-radius: 8px;
    width: auto;
    text-shadow: 2px 2px 1px rgb(0, 0, 0); /* Sombra */

    margin-top: 1.5rem;
    font-size: 1rem;
}

.errorMessage {
    color: #fc5050;
    display: none;

    text-align: center;
    position: fixed; /* Fijado en la pantalla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el div en la pantalla */
    background: rgb(60, 60, 60); /* Fondo oscuro semi-transparente */
    padding: 1rem 2rem;
    border-radius: 8px;
    width: auto;
    text-shadow: 2px 2px 1px rgb(0, 0, 0); /* Sombra */

    margin-top: 1.5rem;
    font-size: 1rem;
}

/* Tablet */
@media (width <= 768px) {

    .name {
        margin: 3rem 0 8rem 0;
    }
    
    /* Sections */
    .sections, .section-main {
        width: 85%;
    }

}

/* Mobile M, L */
@media (width <= 425px) {

    .name {
        font-size: 2.2rem;
        margin-bottom: 4rem;
    }

    /* Sections */
    .sections, .section-main {
        width: 95%;
    }

    .paragraph {
        margin-top: 1.5rem;
        font-size: 0.9rem;
    }

    main {
        margin: 0 1.5rem 4.5rem 1.5rem;
    }

    /* Contact */
    .input-name, .input-email {
        font-size: 0.75rem;
    }

    .txtarea-message {
        font-size: 0.75rem;
    }
    
}

/* Mobile S */
@media (width <= 320px) {

    /* Contact */
    .lbl-form {
        font-size: 0.85rem;
    }

    .input-name, .input-email {
        font-size: 0.63rem;
    }

    .txtarea-message {
        font-size: 0.63rem;

        height: 170px;
    }

}